/* App.css */

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --background: #f8f9f1;
  --background-rgb: 248, 249, 241;
  --accent: #e1f25c;
  --accent-rgb: 225, 242, 92;
  --body-text: #133c55;
  --body-text-rgb: 19, 60, 85;
  --header-text: #133c55;
  --header-text-rgb: 19, 60, 85;
  --header-btn-text: #133c55;
  --header-btn-text-rgb: 19, 60, 85;
  --placeholder: #8c8c8b;
  --placeholder-rgb: 140, 140, 139;
  --photo: #0d0d0d;
  --photo-rgb: 13, 13, 13;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.syne-header {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100%;
}

.bg-default {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--body-text);
  font-family: "Syne", sans-serif;
  width: 100%;
}

.App {
  width: 100%;
  min-height: 101vh;
  overflow-x: hidden;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--header-text);
  width: 100%;
  margin: 4rem 0 2rem;
}

.app-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-size: 4.5rem;
  margin: 0.5rem;
}

.setting-button {
  position: relative;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.05rem;
  font-style: normal;
  margin: 0.25rem;
  padding: 0.5rem;
  width: 12rem;
  border: 3px solid var(--photo);
  /* background-image: radial-gradient(
    circle,
    rgba(var(--accent-rgb), 0.5) 0%,
    rgba(var(--body-text-rgb), 0.5) 100%
  ); */
  transition: background-image 0.7s ease;
  z-index: 1;
}

/* .setting-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  color: var(--header-btn-text-rgb);
  background-image: radial-gradient(
    circle,
    rgba(var(--body-text-rgb), 0.5) 0%,
    rgba(var(--accent-rgb), 0.5) 100%
  );
  transition: opacity 0.5s ease;
  opacity: 0;
}

.setting-button:hover::before {
  opacity: 1;
} */

.header-spacer {
  visibility: hidden;
  width: 12rem;
  margin: 0.25rem;
}
