/* GameInputComponent.css */

li {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.clue {
  display: flex;
  color: var(--body-text);
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 10px;
  text-align: left;
}

.clue-category {
  font-weight: bold;
  padding-right: 0.5rem;
  text-align: left;
}

.clues-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  color: var(--body-text);
}

.clues-wrapper h3 {
  color: var(--header-text);
  text-align: left;
}

.game-container {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.game-input-component {
  width: 80%;
  padding: 0 4rem;
}

.guess-wrapper {
  color: var(--body-text);
  font-size: 1.75rem;
  text-align: right;
}

.guess-wrapper ul li {
  text-align: right;
  line-height: 1;
  margin-bottom: 10px;
}
.guess-wrapper h3 {
  color: var(--header-text);
  text-align: right;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-width: 40%;
  width: 100%;
  height: 4rem;
  max-height: 4rem;
  margin: 2rem 1rem 2rem 0;
  overflow-y: visible;
}

.country-input {
  height: 100%;
  width: 100%;
  padding: 0.5em;
  background: var(--background);
  border: 3px solid var(--photo);
  text-align: left;
  transition: all 0.3s ease;
}

.country-input::placeholder {
  color: var(--photo);
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: left;
  transition: color 0.3s ease;
}

.country-input:focus::placeholder {
  color: transparent;
}

.country-input:focus {
  font-size: 1.2rem;
  -webkit-box-shadow:
    -6px -6px 8px 0px rgba(var(--body-text-rgb), 0.5),
    6px 6px 8px 0px rgba(var(--accent-rgb), 0.5);
  box-shadow:
    -6px -6px 8px 0px rgba(var(--body-text-rgb), 0.5),
    6px 6px 8px 0px rgba(var(--accent-rgb), 0.5);
}

.country-suggestion {
  color: var(--body-text);
  width: 100%;
  font-size: 1rem;
  background-color: var(--background);
  margin: 0 auto;
  text-align: left;
  padding: 10px 5px;
}

.input-box-wrapper {
  position: relative;
  width: 80%;
  height: 100%;
}

.country-suggestion-container {
  position: absolute;
  z-index: 2;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.country-submit-button {
  position: relative;
  top: 0;
  right: 0;
  flex: 1 1 auto;
  width: 15%;
  min-width: 10rem;
  height: 100%;
  margin: 0 0 0 1rem;
  border: 3px solid var(--photo);
  display: grid;
  place-items: center;
  transition: background-image 0.7s ease;
}

.guess-submit::before {
  position: absolute;
  content: "";
  top: 0;
  color: var(--photo);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(
    circle,
    rgba(var(--accent-rgb), 0.5) 0%,
    rgba(var(--body-text-rgb), 0.5) 100%
  );
  transition: opacity 0.5s ease;
  opacity: 0;
}

.guess-submit:hover::before {
  opacity: 1;
}

.guess-submit {
  position: relative;
  font-size: 1.2rem;
  color: var(--header-text);
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.game-logic-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.map-container {
  transition: all 0.5s ease;
  width: 100%;
  display: flex;
  justify-content: center;
}

.map-hide {
  height: 0;
  overflow: hidden;
}
.map-show {
  height: 400px;
  overflow-y: hidden;
}
