*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 20vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}