/* Corban Procuniar */

.world-bg {
  fill: transparent;
  /* stroke: black; */
  /* border: 1px solid var(--background); */
  fill: var(--ocean-background);
}

:root {
  --ocean-background: #e9e9ff30;
}

.ocean {
  stroke: transparent;
  stroke-width: 1;
  stroke-miterlimit: 1;
}

.country {
  fill: var(--photo);
  stroke: var(--background);
}

.country:hover {
  fill: var(--accent);
}

.filter-white {
  filter: invert(100%) sepia(95%) saturate(21%) hue-rotate(335deg) brightness(105%) contrast(105%);
}

.map {
  overflow: visible;
  text-align: center;
  width: 100%;
  fill: transparent;
}

.map-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
