
.world-bg {
  fill: transparent;
  stroke: transparent;
}

.ocean {
  fill: transparent;
  stroke: transparent;
  stroke-width: 1;
  stroke-miterlimit: 1;
}

.country {
  fill: var(--photo);
  stroke: var(--background);
}

.country:hover {
  fill: var(--accent);
}

.filter-white {
  filter: invert(100%) sepia(95%) saturate(21%) hue-rotate(335deg) brightness(105%) contrast(105%);
}
