.world-bg {
  fill: transparent;
}

.ocean {
  fill: #fff;
  stroke: #b9b9b9;
  stroke-width: 1;
  stroke-miterlimit: 1;
}

.country {
  fill: #b9b9b9;
  stroke: #fff;
}

.country:hover {
  fill: aqua;
}
